.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer-text {
  display: flex;
  align-items: center;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.footer-link {
  display: flex;
  align-items: center;
  margin-left: 4px;
  color: white !important;
  text-decoration: none !important;
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active {
  color: white !important;
  text-decoration: none !important;
}

.footer-logo {
  margin: 0 4px;
  display: inline-block;
  vertical-align: middle;
}
